
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Fusion Byte1</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Data Pipeline Project Fusion Byte1</h1>
        <p>Author: Shenghui Jia (AndrewID:shenghuj) </p>
        <p>Question: What is the most significant threat that causes children death in US in recent years (2011-2015)</p>
      </div>

<div>
<p>database: World Health Organization</p>
<p>http://apps.who.int/gho/data/view.main.ghe1002015-USA?lang=en</p>
<iframe width="1000" height="800" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col0%2C+SUM(col2)%2C+SUM(col3)%2C+SUM(col4)+from+1UjK9aGefFEGUS4L_pQ9DQX6jePUsLICRdsly_JnY+where+col1+%3E%3D+2011+and+col1+%3C%3D+2015+group+by+col0+order+by+col0+asc+limit+10&amp;viz=GVIZ&amp;t=COLUMN&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=1000&amp;height=800"></iframe>
<p> </p>
<p> </p>
<p>
In this chart powered by Google Fusion Table, we could find that the biggest threat for newborn in US in recent years is the "Congenital anomalies".
This lead the most biggest number of child death in total.
Also, "Injuries" is another big threat for children in US. Although it did not cause many newborn death, it hurt children when they are in very-low age (1-month age to 4-year age).  
Given the serious situation of Injuries on low-age children, providing better Child Care serivce by government or NGO seems needed.
</p>
<p> </p>
</div>

      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
